.facebook-container div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.facebook-container iframe {
    margin: 15px 5px;
    border: none;
    flex: 0 0 auto;
    min-width: 500px;
    width: 300px;
    height: 525px;
}

.facebook-container,
.youtube-container,
.tiktok-container,
.line-container,
.video-mayor-container,
.btn-service-container {
    padding: 20px 40px;
    text-align: center;
}

.tiktok-container,
.line-container {
    height: 657px;
}

.youtube-container iframe,
.video-mayor-container iframe {
    margin: 5px;
    width: 500px;
    height: 267px;
}

.btn-service-container div {
    margin: 20px 0 40px 0;
}

.btn-service-container div img {
    margin: 10px;

}

#imageModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* FullCalendar */
#calendar {
    padding: 20px;
    background-color: #FFF;
    border: none;
    border-radius: 6px;
    width: 80%;
}

.fc-scrollgrid-sync-inner a {
    color: #000;
    text-decoration: none;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #f0f0f0;
}